<div class="mdl-grid contact">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-tablet mdl-cell--10-col-phone social-media mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">Contact</h1>
    </div>
    <div class="mdl-card__supporting-text">
      I'm on many social plateform, so you can contact me there. I will answer ASAP.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
      href="https://twitter.com/Slashgear_">
        <i class="mdi mdi-twitter"></i>
      </a>
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
      href="https://www.linkedin.com/profile/view?id=318913784">
      <i class="mdi mdi-linkedin"></i>
      </a>
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
      href="http://stackoverflow.com/users/5166913/slashgear">
      <i class="mdi mdi-stackoverflow"></i>
      </a>
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
      href="https://plus.google.com/u/0/+AntoineCaronAC">
      <i class="mdi mdi-google-plus"></i>
      </a>
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
      href="https://github.com/Slashgear">
      <i class="mdi mdi-github-circle"></i>
      </a>
    </div>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
