<div class="mdl-grid curriculum">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell--10-col mdl-cell--8-col-tablet mdl-cell--10-col-phone">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-cell--10-col-phone zenika mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
        </div>
        <div class="mdl-card__supporting-text">
          <p>I'm currently working for <a href="http://www.zenika.com">Zenika Lyon</a> as an Intern. I'm creating a web application in AngularJS with Spring Boot Backend.</p>
          <p>I work on Zenquizz, a web interface for creating quizzes with Markdown formatting.</p>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--7-col mdl-cell--8-col-tablet mdl-cell--10-col-phone worldline mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
        </div>
        <div class="mdl-card__supporting-text">
          <p>During my fourth year, I was able to do an internship in the Lyon <a href="http://www.worldline.com">Worldline</a> company. I've joined a team of web developers and mobile working for a big name in the global fast food. I was able to take part
            in a major project on innovative technologies that I did not previously mastered.</p>
          <p>I worked on:
            <ul>
              <li>S.E.O</li>
              <li>Barcodes generation</li>
              <li>Shorten Url</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--10-col-phone eolane mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
        </div>
        <div class="mdl-card__supporting-text">
          <p>I did an internship for a period of one month in the company <a href="http://www.eolane.com/">éolane</a> in Montceau-les-Mines in 2013 in order to access the engineer of my school cycle.</p>
          <p>I have build an application in Visual Basic 6.0 for driving automated testbench of a cardiac defibrillator. I also work on the Bluetooth technology to encode the defibrillator.</p>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--10-col-phone polytech-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h1 class="mdl-card__title-text" style="font-size:56px">Engineering School - Polytech Lyon</h1>
        </div>
        <div class="mdl-card__supporting-text">
          <p>Getting out of high school, I was able to integrate the integrated preparatory program of the University Polytechnic of Lyon. I stayed for two years, during which I followed a theoretical training based on mathematics and computer science curriculum
            of License Maths-Info from the <a href="http://www.univ-lyon1.fr">Claude Bernard University</a> in Lyon.</p>
          <p>In 2013, I was able to access the engineering program at my school, in computer science specialty. The school <a href="http://polytech.univ-lyon1.fr/home-755570.kjsp?RH=POLYTECH-FR">Polytech Lyon</a> is in the movement of the <a href="http://www.polytech-reseau.org/index.php?id=14&amp;L=1">Polytech network</a>            schools, which currently has 13 schools throughout France. The school <a href="http://polytech.univ-lyon1.fr/home-755570.kjsp?RH=POLYTECH-FR">Polytech Lyon</a> officially joined the network in 2013.</p>
          <p>My shcool offers courses on topics:</p>
          <ul>
            <li>Networks</li>
            <li>DataBases, BI, Big Data</li>
            <li>Web/Mobile Technologies</li>
            <li>Embebedded sofware</li>
            <li>Modeling and problem solving by computer</li>
            <li>Distributed computing</li>
            <li>AI</li>
          </ul>
          <p>At Polytech I have the chance to make 3 internships:</p>
          <ul>
            <li>An internship of one month between the theoretical training and engineering cycle.</li>
            <li>A minimum of 5 months internship in the fourth year.</li>
            <li>A terminal 5 month minimum internship during my fifth year.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
