.curriculum .polytech-card-wide > .mdl-card__title {
  color: #fff;
  height: 200px;
  background: url('../assets/images/polytech.jpg') center / cover;
}

.curriculum .zenika > .mdl-card__title {
  height: 100px;
  background: url("../assets/images/zenika.png") center/cover;
  margin-top: 15px;
}

.curriculum .worldline > .mdl-card__title {
  height: 200px;
  background: url('../assets/images/worldline.png') center / cover;
}

.curriculum .eolane > .mdl-card__title {
  height: 200px;
  background: url('../assets/images/eolane.png') center / cover;
}

.curriculum .polytech-card-wide .mdl-card__title-text {
  font-size: 56px;
}

.curriculum h2 {
  font-size: 18px;
  margin: 10px 0;
}
