.curriculum .polytech-card-wide > .mdl-card__title {
  color: #fff;
  height: 200px;
  background: url('../assets/images/polytech.jpg') center / cover;
}

.curriculum .work-experiences-card-wide > .mdl-card__title {
  color: #45b;
  height: 200px;
  background: url('../assets/images/work-experiences.jpg') center / cover;
}

.curriculum .work-experiences-card-wide .mdl-card__title-text {
  font-size: 56px;
}

.curriculum h2 {
  font-size: 18px;
  margin: 10px 0;
}
