body {
  background-color: var(--bg);
  --bg-transition: background-color 0.5s ease;
  transition: var(--bg-transition);
}

body.light-mode {
  --bg: #ffffff;
  --bg-secondary: rgb(249, 250, 251);
  --header: hsl(268, 53%, 51%);
  --textNormal: #222;
  --textTitle: #222;
  --textLink: hsl(268, 53%, 51%);
  --hr: hsla(0, 0%, 0%, 0.2);
  --inlineCode-bg: rgba(255, 229, 100, 0.2);
  --inlineCode-text: #1a1a1a;
  --form-shadow: 0 2px 15px 0 rgba(210, 214, 220, 0.5);
}

body.dark-mode {
  -webkit-font-smoothing: antialiased;
  --bg: hsl(222, 14%, 18%);
  --bg-secondary: rgb(54, 60, 72);
  --header: hsl(268, 100%, 73%);
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: #ffffff;
  --textLink: hsl(268, 100%, 73%);
  --hr: hsla(0, 0%, 100%, 0.2);
  --inlineCode-bg: rgba(115, 124, 153, 0.2);
  --inlineCode-text: #e6e6e6;
  --form-shadow: 0 2px 15px 0 rgba(26, 26, 27, 0.637);
}

@media print {
  body.dark-mode {
    --bg: #ffffff;
    --bg-secondary: rgb(249, 250, 251);
    --header: hsl(268, 53%, 51%);
    --textNormal: #222;
    --textTitle: #222;
    --textLink: hsl(268, 53%, 51%);
    --hr: hsla(0, 0%, 0%, 0.2);
    --inlineCode-bg: rgba(255, 229, 100, 0.2);
    --inlineCode-text: #1a1a1a;
    --form-shadow: 0 2px 15px 0 rgba(210, 214, 220, 0.5);
  }
}
