name: Daily Browserstack

on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * *'

jobs:
  Browserstack:
    runs-on: ubuntu-latest
    steps:
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install

      - name: Running Browserstacks tests
        env:
          BROWSER_BUILD: browserstack-${{ steps.date.outputs.date }}
          BROWSER_STACK_USER: ${{secrets.BROWSER_STACK_USER}}
          BROWSER_STACK_KEY: ${{secrets.BROWSER_STACK_KEY}}
        run: yarn wdio run ./wdio-browserstack.conf.js
